= simple_form_for [:admins, @organization] do |org|
  %h4 Organization Information
  = org.input :name
  = org.input :director
  = org.input :description
  = org.input :facebook
  = org.input :twitter
  = org.input :instagram
  = org.input :'5013c'
  = org.input :url
  = org.input :email
  = org.input :phone
  = org.file_field :logo
  = org.input :sheltered, as: :boolean
  = org.input :foster_based, as: :boolean
  = org.simple_fields_for :legal_address do |legal|
    %h4 Legal Address
    = legal.input :name
    = legal.input :address
    = legal.input :city
    = legal.input :state
    = legal.input :zip_code
    = legal.input :main_location, as: :boolean
  = org.simple_fields_for :physical_addresses do |physical|
    %h4 Physical Addresses
    = physical.input :name
    = physical.input :address
    = physical.input :city
    = physical.input :state
    = physical.input :zip_code
    = physical.input :main_location, as: :boolean
  = org.submit
