<%= simple_form_for @organization do |org| %>
  <h4>Organization Information</h4>
  <%= org.input :name %>
  <%= org.input :director %>
  <%= org.input :description %>
  <%= org.input :facebook %>
  <%= org.input :twitter %>
  <%= org.input :instagram %>
  <%= org.input :'5013c' %>
  <%= org.input :url %>
  <%= org.input :email %>
  <%= org.input :phone %>
  <%= org.simple_fields_for :organization_addresses do |address| %>
    <h4>Organization Address</h4>
    <%= address.input :name %>
    <%= address.input :address %>
    <%= address.input :city %>
    <%= address.input :state %>
    <%= address.input :zip_code %>
    <%= address.input :main_location, as: :boolean %>
  <% end %>
    
  <%= org.submit%>
<% end %>
